{% extends "base.html" %}

{% block content %}
    <head>
        {% if title %}
        <title> {{ title }} - Page </title>
        {% else %}
        <title>Welcome to page with no title</title>
        {% endif %}
    </head>

    <body>
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        </form>

        {% if form %}
        <form action="" method="post">
            ...
        </form>
        {% endif %}

    </body>
{% endblock %}